*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: rgb(49, 49, 49);
}

a{
    text-decoration: none;
    color: rgb(124, 124, 124);
}

a:visited{
    color: rgb(124, 124, 124);
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

header{
    height: 100vh;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: flex-start;

    background-image: url(./resources/livingroom.jpg);
    background-size: cover;
    background-position-y: -200px ;
}

nav{
    padding: 2.5rem 15rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);  
}

.container--nav{
    align-items: center;
}
.navList{
    margin: 0 1.5rem;
    list-style: none;
}

.navList__listItem{
    margin: 0 1.5rem;
}


main{
    margin: auto;
    width: 75%;
}


h2 {
    margin: 10rem 0;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.section--articles{
    margin: 4rem 0;
    padding: 6rem 0;
    justify-content: space-between;
    border-top: 1px solid rgb(142, 142, 142);
    border-bottom: 1px solid rgb(142, 142, 142);
}

.card{
    height: 600px;
    width: 450px;
    line-height: 1.5;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card__heading{
    font-weight: 500;
    font-size: 22px;
}

.card__img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.card__btn{
    padding: 0.75rem 2rem;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
}

h3{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6rem;
}

.section--gallery{
    padding: 4rem 0;
}

.gallery{
    justify-content: space-between;
}

.gallery--featured{
    width: 50%;
    height: 650px;
}

.gallery--featured img{
    width: 650px;
    height: 650px;
}

.gallery--container img{
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.gallery--container{
    width: 50%;
    height: 650px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer{
    margin: 5rem 0;
    padding: 5rem 0;
    border-top: 1px solid rgb(142, 142, 142);
}

.list--socialMedia{
    justify-content: center;
    list-style: none;
}

.fa-brands{
    margin: 0 1.5rem;
    font-size: 32px;
    color: rgb(124, 124, 124);
    cursor: pointer;
}



