*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: rgb(49, 49, 49);
    width: 100%;
}

a{
    text-decoration: none;
    color: rgb(124, 124, 124);
    transition: all 300ms;
}

a:hover{
    text-shadow: 1px 3px rgb(197, 197, 197);
}

button:hover{
    cursor: pointer;
    text-decoration: underline;
}

a:visited{
    color: rgb(124, 124, 124);
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

header{
    width: 100%;
    height: 100vh;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(./resources/livingroom.jpg);
    background-size: cover;
    background-position-y: -200px ;
}

nav{
    padding: 2.5rem 15rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255); 
    font-size: 1rem; 
}

.container--nav{
    align-items: center;
}
.navList{
    margin: 0 1.5rem;
    list-style: none;
}

.navList__listItem{
    margin: 0 1.5rem;
}


main{
    margin: auto;
    width: 80%;
}


h2 {
    margin: 10rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.section--articles{
    margin: 4rem 0;
    padding: 6rem 0;
    justify-content: space-between;
    border-top: 1px solid rgb(142, 142, 142);
    border-bottom: 1px solid rgb(142, 142, 142);
}

.card{
    margin: 0 1rem;
    height: 600px;
    width: 450px;
    line-height: 1.5;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card__heading{
    font-weight: 500;
    font-size: 22px;
}

.card__img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.card__btn{
    padding: 0.75rem 2rem;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
}

h3{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6rem;
}

.section--gallery{
    padding: 4rem 0;
}

.gallery{
    justify-content: space-between;
}

.gallery--featured{
    width: 50%;
    height: 600px;
}

.gallery--featured img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery--container img{
    object-fit: cover;
    width: 45%;
    height: 280px;
}

.gallery--container{
    margin: 0 2rem;
    width: 50%;
    height: 600px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

footer{
    margin: 5rem 0;
    padding: 5rem 0;
    border-top: 1px solid rgb(142, 142, 142);
}

.list--socialMedia{
    justify-content: center;
    list-style: none;
}

.fa-brands{
    margin: 0 1.5rem;
    font-size: 32px;
    color: rgb(124, 124, 124);
    cursor: pointer;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    body{
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
    header{
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
    }
    nav{
        padding: 1rem;
    }
    .navList__listItem{
        margin: 0 0.5rem;
    }

    h2{
        margin: 4rem 0;
        font-size: 2rem;
    }

    .section--articles{
        flex-wrap: wrap;
    }

    .card{
        margin: 2rem 1rem;
        width: 275px;
    }

    .gallery--featured img{
        height: 400px;
    }

    .gallery--container{
        height: 400px;
    }

    .gallery--container img {
        height: 190px;
        width: 130px;
    }

}

@media screen and (max-width: 767px) {
    
    body{
        font-size: 12px;
        margin: 0;
        max-width: 100%;
    }

    header{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 300px;
        background-position: center;
    }

    nav{
        padding: 10px;
        margin: 0;
        font-size: 0.45rem;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .header__siteHeading{
        font-size: 0.60rem;
    }

    .navList__listItem{
        margin: 5px;
    }

    h2{
        margin: 4rem 0;
        font-size: 1.5rem;
    }

    h3{
        margin: 3rem 0;
        font-size: 1rem;
    }

    main{
        margin:0;
        width: 100%;
    }

    .section--articles{
        margin: 0 1rem;
        padding: 3rem 1rem;
        flex-direction: column;
    }

    .card{
        width: 100%;
        margin: 2.5rem 0;
    }

    .card__btn{
        padding: 0.5rem 1rem;
        font-size: 0.70rem;
    }

    .gallery{
        flex-direction: column;
    }


    .gallery--featured{
        margin: auto;
        height: fit-content;
        width: auto;
    }

    .gallery--featured img{
        margin: 1rem 0;
        width: 350px;
        height: 350px;
    }

    .gallery--container{
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        width: 350px;
        height: 350px;
    }

    .gallery--container img{
        margin: 10px;
        width: 155px;
        height: 155px;
    }
  }